.complete-page {
  background-color: rgb(35, 33, 33);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  height: 100vh; /* Optionally set the height of the container */
}

.complete-page button {
  padding: 17px;
  margin:20px;
  font-size: 16px;
  background-color: #e0e9e0;
  color: rgb(7, 7, 7);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.complete-page button:hover {
  background-color: #45a049;
}

